<div class="card">
    <div class="card-body">

        <h2>Editar Postagem:</h2>
        <hr>
        {{#each erros}}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{texto}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {{else}}

        {{/each}}
        <form action="/admin/postagens/edit" method="POST">
            <input type="hidden" name="id" value="{{postagem._id}}">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input name="titulo" type="text" class="form-control" id="titulo" placeholder="Titulo do Post"
                    value="{{postagem.titulo}}">
            </div>

            <div class="form-group">
                <label for="slug">Slug</label>
                <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug da Postagem"
                    aria-describedby="slughelp" value="{{postagem.slug}}">
                <small id="slughelp" class="form-text text-muted">
                    Slug é como vai ficar a postagem na url. ex: www.site.com/postagem/acao. Nesse caso o Slug é acao.
                </small>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input name="descricao" type="text" class="form-control" id="descricao" placeholder="Descrição do Post" value="{{postagem.descricao}}">
            </div>

            <div class="form-group">
                <label for="conteudo">Conteúdo</label>
                <textarea name="conteudo" type="text" class="form-control" id="conteudo"
                    placeholder="Conteúdo do Post" >{{postagem.conteudo}}</textarea>
            </div>

            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select class=" custom-select" name="categoria">
                    
                    {{#each categorias}}
                        {{#if selected}}
                            <option selected value="{{id}}">{{nome}}</option>
                        {{else}}
                            <option value="{{id}}">{{nome}}</option>
                        {{/if}}
                    {{else}}
                    <option value="0">Nenhuma Categoria Registrada</option>
                    {{/each}}
                </select>
            </div>


            <button type="submit" class="btn btn-primary">Editar</button>

        </form>
    </div>
</div>