<div class="row">
    <div class="col-8">
      <h2>Lista de Postagens:</h2>
    </div>
    <div class="col-4 text-right ">
      <a class="pt-1" style="display: inline-block" href="/admin/postagens/add"><button class="btn btn-primary">Nova Postagem</button></a>
    </div>
  </div>
<hr>
{{#each postagens}}
<!--Card de Cada Postagem-->
<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
        <div class="row">
            <div class="col-8 text-left">
            Criado: {{data}} 
            </div>
            <div class="col-4 text-right">
            Slug: {{slug}}
            </div>

        </div>
        <div class="row">
            <div class="col-8 text-left">
            Descrição: {{descricao}} 
            </div>
            <div class="col-4 text-right">
            Categoria: {{categoria.nome}}
            </div>

        </div>
    </h6>
    <p class="card-text">
      {{conteudo}}
    </p>
    <div class="row">
        <div class="col">
            <a href="/admin/postagens/edit/{{_id}}" class=""><button class="btn btn-primary">Editar</button></a>

            <button type="button" data-toggle="modal" data-target="#DeleteModal{{_id}}"
            class="btn btn-primary">Deletar</button>

        </div>
        

    </div>
    
  </div>
</div>

<!--Modal do Delete-->
<div class="modal fade" id="DeleteModal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel{{_id}}"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel{{_id}}">Atenção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja deletar essa categoria? essa ação é <center><b>IRREVERSÍVEL</b></center>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, volte.</button>
                <form action="/admin/postagens/deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Sim, Delete.</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

{{else}}

<div class="row my-5">
    <div class="col text-center">

    <h4>Nenhuma Postagem registrada.</h4>

    </div>
</div>

{{/each}}